$mobile-size: 576px;
$xsmall-size: 450px;
$large-size: 992px;
$middle-size: 768px;

$main-text: #000000;
$white: #ffffff;
$modal-background: #444242e9;
$main-background: rgb(225, 225, 225);
$disabled-paginationBut: rgb(52, 5, 50);
$background-paginationBut: rgb(52, 5, 50);
$hover-button: rgb(52, 5, 50);
$disabled-text: grey;
