@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.Modal {
  position: fixed;
  margin: 0 auto;
  top: calc(50vh - 200px);
  left: calc(50vw - 370px);
  background-color: $modal-background;
  z-index: 1000;
  padding: 30px;
  border-radius: 10px;

  @include middle() {
    top: 10vh;
    left: calc(50vw - 185px);
  }

  &__closer {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    background: transparent;
    border: none;
    width: 25px;
    height: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: gray;
    }
  }
}
