.PaginationButtons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 5px;
  max-width: 360px;
  margin: 40px auto 20px auto;

  &__blind {
    background: none;
    border: none;
  }
}
