@import '../styles/variables.scss';

.PaginateButton {
  &__next_prev,
  &__page_numb {
    border: none;
    padding: 0.3em 0;
    cursor: pointer;
  }

  &__next_prev {
    width: 70px;
    margin: 0 0.3em;
    background-color: $background-paginationBut;
    color: $main-background;
    border-radius: 5px;
    font-weight: 700;

    &:disabled {
      background-color: transparent;
      color: $disabled-text;
      cursor: auto;
    }
  }

  &__page_numb {
    background: transparent;
    width: 2em;

    &:disabled {
      border: 1px solid $disabled-paginationBut;
      border-radius: 3px;
      color: $disabled-paginationBut;
      font-weight: 700;
      cursor: auto;
    }
  }
}
